$phone-width: 414px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

.Hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    & h1 {
        color: #272341;
        font-size: 3.5rem;
        margin-bottom: 20px;

        @include phone {
            font-size: 2.5rem;
            margin-bottom: 10px;
        }
    }

    & .boldText {
        color: white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        color: white;
        background-image: linear-gradient(135deg,#02aab0,#00cdac);
    }

    & .heroButtons {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin-bottom: 20px;

        @include phone {
            flex-direction: column;
        }


        & a {
            text-decoration: none;
            color: black;
        }
    }

    & .socialIcons {
        margin-bottom: 20px;

    }

    & .arrow-down {
        justify-self: flex-end;
        color: #272341;
        font-size: 2rem;
        // padding-top: 200px;
        cursor: pointer;

    }
}

